{% for nombre, datos in nexo_plataforma_secretos.items() %}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ nombre }}
  namespace: {{ nexo_plataforma_namespace }}
  labels:
    app.kubernetes.io/part-of: nexo-platform
    app.kubernetes.io/managed-by: ansible
{% if 'username' in datos and 'password' in datos %}
type: kubernetes.io/basic-auth
{% else %}
type: Opaque
{% endif %}
stringData:
{% for clave, valor in datos.items() %}
  {{ clave }}: {{ valor | string | to_json }}
{% endfor %}
{% endfor %}
